.App {
  display: flex;
  justify-content: center;
  height: 100%;
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.full-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.full-form form {
  display: flex;
  flex-direction: column;
}

.full-form button {
  align-self: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}

.login-form form {
  margin-bottom: 55px;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
textarea,
select {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

.form-control {
  margin-bottom: 20px;
}

.radio-options-container,
.checkbox-options-container {
  display: flex;
  flex-direction: column;
}

.radio-option,
.checkbox-option {
  display: flex;
  flex-direction: row;
}

.link-button {
  background-color: #185adb;
  border: none;
  border-radius: 25px;
  color: #fff;
  height: 50px;
  margin: 0 25px;
  width: 200px;
}

.link-button a {
  color: #fff;
  text-decoration: none;
}

.error {
  color: red;
}
